{% extends 'base.html' %}


{% block body %}
    <h3>News Items</h3>
    {% if news_items_list %}
        <ul>
        {% for news_item in news_items_list %}
            <li><a href="{{ news_item.url }}">[{{ news_item.source_name }}] {{ news_item.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No news items are available.</p>
    {% endif %}
{% endblock %}